@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --m-dark: #1d0221; 
    --m-light: #f2f2f2;
    --m-dark-bg-highlight: #b1b1b1;   
    /* --m-dark-bg-highlight: #9E7C9F;    */
    --m-light-bg-highlight: #590b5a;
    /* Fonts */ 
    --m-headings: 'Montserrat', serif;
    --m-content: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--m-content);
    padding-top: 61px; /* pushes the top of the header down under the fixed navbar */
}

h1, 
h2 {
    font-family: var(--m-headings);
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/* DARK & LIGHT Backgrounds */
/* Dark background */
.m-dark-background {
    background-color: var(--m-dark);
    color: var(--m-light);
}
.m-dark-background * h1,
.m-dark-background * h2 {
    color: var(--m-dark-bg-highlight); /* Text color for h1 and h2 inside dark background */
}

/* Ligth background */
.m-light-background {
    background-color: var(--m-light);
    color: var(--m-dark);
}
.m-light-background * h1,
.m-light-background * h2 {
    color: var(--m-light-bg-highlight); 
}

/* to override bootstrap classes */

.sharp-corners, 
.sharp-corners .form-control, 
.sharp-corners .accordion-button, 
.sharp-corners .accordion-item, 
.sharp-corners .btn, 
.sharp-corners textarea {
    border-radius: 0 !important;
}

/* Remove Bootstrap's default blue focus border & shadow */
.form-control:focus, 
.form-select:focus, 
.form-check-input:focus {
    box-shadow: none !important;
    border-color: inherit !important; 
    outline: none !important;
}

/* Buttons */ 

.custom-button {
    font-family: var(--m-headings);
    font-weight: 700;
    border-radius: 50px;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: .3rem 1rem .3rem 1rem;
    text-decoration: none;
}

.my-button-dark-bg {
    background-color: transparent;
    border: var(--m-dark-bg-highlight) solid 3px;
    color: var(--m-dark-bg-highlight);
    transition: 0.2s ease-in-out;
}

.my-button-dark-bg:hover {
    background-color: var(--m-dark-bg-highlight);
    border: var(--m-dark-bg-highlight) solid 3px;
    color: var(--m-dark);
}

.my-button-light-bg {
    background-color: transparent;
    border: var(--m-light-bg-highlight) solid 3px;
    color: var(--m-light-bg-highlight);
    transition: 0.2s ease-in-out;
}

.my-button-light-bg:hover {
    background-color: var(--m-light-bg-highlight);
    border: var(--m-light-bg-highlight) solid 3px;
    color: var(--m-light);
}

/* Navbar */
#navbar {
    background-color: var(--m-dark) !important;
    font-family: var(--m-headings);
    text-transform: uppercase;
}

#navbar .logo {
    height: 35px;
}

.navbar-toggler:focus, 
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* HOME - PUBLIC LANDING PAGE */

/* Header Hero */
#hero img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

#hero #img-left {
    background: url('../images/homepage-hand-left.png') no-repeat left / contain;
    height: 125px;
}

#hero #cta-center {
    background: url('../images/homepage-start-now-link-bg.png') no-repeat center / contain;
    height: 250px;
}

#hero #img-right {
    background: url('../images/homepage-hand-right.png') no-repeat right / contain;
    height: 125px;
}

#hero p {
    margin-bottom: 0;
    font-size: 1.5rem;
}

#hero a {
    font-family: var(--m-headings);
    color: var(--m-dark);
    font-size: 1.5rem;
    font-weight: 700;
}


/* About Section */
#about img {
    padding: 1rem;
    max-height: 150px;  
    width: auto;
}

/* Q&A Section */
.accordion-button {
    color: inherit; 
    border: none; 
}

.accordion-button:not(.collapsed) {
    color: inherit; 
}

.accordion-button {
    border: none !important;  
    box-shadow: none !important;  
}

.accordion-button:focus, 
.accordion-button:active {
    border: none !important;  
    box-shadow: none !important;  
}

.accordion-item {
    border: none !important;  
}

.accordion-button:not(.collapsed) {
    background-color: transparent; 
    color: inherit; 
    border: none; 
}


/* FOOTER */
footer ul li {
    display: flex;
    align-items: center; 
    padding: 10px;
}

footer a {
    color: var(--m-light);
    font-family: var(--m-headings);
    font-size: 13px;
    text-transform: uppercase;
}

footer p,
footer span {
    font-size: 10px;
}

footer img {
    height: 45px;
    width: 45px;
}


